
  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 5px;
  }
  h1{
      font-size: 2.5rem;
      color: #5b4caf;
      font-family: 'Courier New', Courier, monospace;
      margin: 20px;
  }
  h3{
      font-size: 1.5rem;
      color: black;
      font-family: 'Times New Roman', Times, serif;
      margin: 5px;
  }